.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 1px solid black;
  padding: 1rem;
  width: 60%;
  border-radius: 8px;
}

.subheader {
  text-align: center;
}
.dices {
  display: grid;
  margin: 1rem;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px;
  align-items: center;
  align-content: center;
}
.dice {
  cursor: pointer;
  text-align: center;
  border: 1px solid black;
  margin: 0 0.5rem;
  padding: 1.5rem 0;

  border-radius: 6px;
}
.dice.hold {
  background-color: orange;
}

.rollbtn {
  font-weight: 500;
  font-size: 1.3rem;
  font-family: inherit;
  outline: none;
  background-color: steelblue;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.rollbtn:hover {
  background-color: white;
  color: steelblue;
  border: 1px solid black;
}
.rollbtn:active {
  background-color: orange;
  color: white;
}
